@import "../../../node_modules/purecss-sass/vendor/assets/stylesheets/_purecss.scss";

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.pure-button-primary, .pure-button-secondary {
  margin-right: 1em;
}

.registration {
  margin: 2em auto;
}


.headerBar {
	padding: 1em;
	height: 45px;
}

.logo {
	width: 60px;
	height: 100%;
}

.userCtrls {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}

.mainContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: calc(100vh - 60px);
}

.teamSidebar {
	position: relative;
	width: 250px;
	height: 100%;
	text-align: center;
	background-color: #7c7c7c;
	color: white;
}

.teamHeader {
	display: flex;
	justify-content: space-between;
	font-size: 1.5em;
}

.activeTeam {
	font-style: italic;
	color: red;
}

.chat {
	flex: 1;
	height: 100%;
}

textarea{
	resize: none;
}
