@import "../../../node_modules/purecss-sass/vendor/assets/stylesheets/_purecss.scss";

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.pure-button-primary, .pure-button-secondary {
  margin-right: 1em;
}

.registration {
  margin: 2em auto;
}


.headerBar {
	height: 60px;
}

a{
	color: white;
	text-decoration: none;
}

.logo {
	width: 60px;
	height: 100%;
}

.userCtrls {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}

.mainContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: calc(100vh - 60px);
}

.teamSidebar {
	width: 250px;
	height: 100%;
}

.testing {
	padding: 30px;
}

.chat {
	flex: 1;
	height: 100%;
}

textarea{
	resize: none;
}
